@model IEnumerable<Project03.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<style>
    .oneItem {
        margin-top: 10px;
        border:solid 2px #2f81ea;
        border-radius: 12px;       
        background-color: #fffffa;
        padding:5px;
    }
    .categories{
        margin-top:15px;
        margin-bottom:15px;
    }
    .itemContent{
        min-height:200px;
    }
    .itemFooter{
        margin-bottom:5px;
    }
    
 
    
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="row">
                <div class="col-md-12">
                    <h3>Products</h3>
                </div>
            </div>

            <div class="row categories">
                <div class="col-md-12">
                    @{                         
                        int category1 = 1;
                        int category2 = 2;
                        int category3 = 3;
                        int category4 = 4;
                        int category5 = 5;
                        int category6 = 6;
                        int category7 = 7;
                        int category8 = 8;
                    }
                    @Html.ActionLink("All Products", "Index", "Home", new { @class = "btn btn-primary btn-md active" })
                    @Html.ActionLink("Category 1", "Category", "Home", new { CatId = category1 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 2", "Category", "Home", new { CatId = category2 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 3", "Category", "Home", new { CatId = category3 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 4", "Category", "Home", new { CatId = category4 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 5", "Category", "Home", new { CatId = category5 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 6", "Category", "Home", new { CatId = category6 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 7", "Category", "Home", new { CatId = category7 },   new { @class = "btn btn-primary btn-md inactive" })
                    @Html.ActionLink("Category 8", "Category", "Home", new { CatId = category8 },   new { @class = "btn btn-primary btn-md inactive" })
                </div>
            </div>


            <!--Creates a div for each product in the list on run time.-->
            <div class="row">
               
                @foreach (var prod in Model)
                {
                    <div class="col-md-4">
                        <div class="oneItem">

                            @*<img class="img-responsive displayd" src="@Url.Content(@item.Image)" style="text-align:center" alt="test" />*@
                            <div class="itemContent">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>@prod.name</h4>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <p>@prod.description</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <p>Price: @prod.price $</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <p>Stock: @prod.stock pcs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr/>
                                <div class="itemFooter">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-default btn-md inactive">
                                            @Html.ActionLink("Edit this item", "Edit", new { id = prod.productID })
                                        </button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>
